<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="necklace-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Necklaces
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="necklace-link">
                <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">All Necklaces</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="earring-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Earrings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="earring-link">
                <a href="{% url 'products' %}?category=earrings" class="dropdown-item">All Earrings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="crafts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Crafts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="crafts-link">
                <a href="{% url 'products' %}?category=crafts" class="dropdown-item">All Crafts</a>
            </div>
        </li>
    </ul>
</div>