{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">

        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">About Creative Bliss</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
            <h3>{{ about.label_1 }}</h3>
            <p>{{ about.paragraph_1 }}</p>
            <h3>{{ about.label_2 }}</h3>
            <p>{{ about.paragraph_2 }}</p>
            </div>
        </div>

    </div>
{% endblock %}