{% extends "base.html" %}

{% load static %}

<!-- page header block from base template with container and a single row in an empty column -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}<!-- content of the page - products display -->
    <div class="overlay"></div><!-- hide home/index bgr image -->
    
    <div class="container-fluid">
        
    </div>
{% endblock %}