{% extends "base.html" %}

{% load static %}

<!-- page header block from base template with container and a single row in an empty column -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}<!-- content of the page - products display -->
    <div class="overlay"></div><!-- hide home/index bgr image -->
    
    <div class="container">

        <div class="row"><!-- first product page row with the page header -->
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>

        <div class="row"><!-- second product page row with main container contains products info -->
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>

                <div class="row"><!-- container with the product name -->
                    {% for product in products %}

                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><!-- single product column container -->
                        <div class="card h-100 border-0">

                        {% if product.image %}<!-- loop creates product image -->
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}


                            <div class="card-body pb-0"><!-- product name -->
                                <p class="mb-0">{{ product.name }}</p>
                            </div>


                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row"><!-- product price -->
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>

    </div>
{% endblock %}